!= partial(“../_document”, { title: “토지 가치는 건물과 분리하여 정확히 평가될 수 있을까요?”, description: "조지즘은 이론상으로는 훌륭하게 작동합니다. 하지만 이를 효과적으로 구현하려면 모든 토지 구획을 정확히 가격을 매길 수 있어야 합니다. 그런데 실제로 어떻게 할 수 있을까요?“, img: ”/content/kernel_map.png“, alt: ”커널 지도“, body: ”content/kr/_can-land-be-accurately-assessed.md" })
