!= partial("../../_document", { title: "토지 가치 세금이 임차인에게 전가될 수 있나요?", description: "조지스트들은 토지 소유주가 토지 가치 세금(LVT)을 임차인에게 가할 수 없다고 주장합니다. 세계의 거의 모든 다른 세금은 전가됩니다. 왜 LVT만 특별해야 할까요?", img: "/content/lvt_and_dividend.png", alt: "LVT와 배당금 차트", body: "content/kr/_can-lvt-be-passed-on-to-tenants.md" })
