!= partial("../../_document", { title: "땅은 정말 중요한 문제인가?", description: "Land might have been a big deal in 1879, but does it matter today?", img: "/content/usa_land_value_4.png", alt: "Total land value of the USA", body: "content/kr/_is-land-a-big-deal.md" })
