!= partial("../../_document", {
  title: "땅은 정말 중요한 문제인가?",
  description: "1879년에는 땅이 중요한 문제였을지 모르지만, 오늘날에도 중요할까요?",
  img: "/content/usa_land_value_4.png",
  alt: "미국 전체 땅의 가치",
  body: "content/kr/_is-land-a-big-deal.md"
})
