!= partial("../../_document", { title: "Lars A. Doucet", description: "Lars Andreas Doucet는 Center for Land Economics의 공동 창립자이자 Progress & Poverty Substack의 작가이며 전직 전문 게임 개발자입니다.", img: "/assets/logo.png", alt: "Game of Rent 로고", body: "content/kr/_lars-a-doucet.md" })
