doctype
html
  head
    title="Game of Rent"
    link(href="/assets/style.css", rel="stylesheet")
  body
    header
      a(href="/")
        img(src="/assets/logo.png")
        | <span class="titletext">Game of Rent</span><span class="subtitletext">The rent is far too high, and here's why</span>
      <hr>
      <nav><a href="/">Home</a>&nbsp;&nbsp;&nbsp;<a href="/articles">Articles</a>&nbsp;&nbsp;&nbsp;<a href="/resources">Resources</a>&nbsp;&nbsp;&nbsp;<a href="/interactives">Interactives</a>&nbsp;&nbsp;&nbsp;<a href="/contribute">Contribute</a> </nav>
    main
      != yield /* This is the text of the article we're viewing */
    footer
      | Site by Lars Doucet
    script(src="/assets/editButton.js")
