doctype
html
  head
    title="Game of Rent"
    link(href="/assets/style.css", rel="stylesheet")
  body
    header
      a(href="/")
        img(src="/assets/logo.png")
        | <span class="titletext">Game of Rent</span><span class="subtitletext">The rent is far too high, and here's why</span>
      <hr>
	  <nav><a href="/">Home</a> | <a href="/articles">Articles</a> | <a href="/resources">Resources</a> | <a href="/interactives">Interactives</a> | <a href="/contribute">Contribute</a> </nav>
    main
      != yield /* This is the text of the article we're viewing */
    footer
      | This is your footer
    script(src="/assets/editButton.js")
