doctype
html
  head
    title="Game of Rent"
    link(href="/assets/style.css", rel="stylesheet")
    meta(name="twitter:card", content="summary")
    meta(name="og:type", content="article")
  body
    header
      a(href="/")
        img(src="/assets/logo.png")
        span(class="titletext") Game of Rent
        span(class="subtitletext") The rent is far too high, and here's why
      hr
      nav
        a(href="/") Home
        a(href="/articles") Articles
        a(href="/resources") Resources
        a(href="/interactives") Interactives
        a(href="/contribute") Contribute
    main
      != yield /* This is the text of the article we're viewing */
    footer
      | Site by Lars Doucet
    script(src="/assets/editButton.js")
