!= partial("_document", { title: "Contribute", description: "Anyone can contribute to this site! Just follow these steps.", img: "/assets/example_edit.png", alt: "Edit button", body: "_contribute.md" })
