header
  a(href="/")
    img(src="/assets/logo.png")
    span(class="titletext") Game of Rent
    span(class="subtitletext") The rent is far too high, and here's why
  hr
  nav
    a(href="/") Home
    a(href="/resources") Resources
    a(href="/podcasts") Podcasts
    a(href="/contribute") Contribute
