!= partial("../_document", { title: "Can Land Value Be Accurately Assessed Separately from Buildings?", description: "Georgism works great in theory. But in order to implement it effectively, you need to be able to price all the land parcels, accurately. But how do you actually do that?", img: "/content/kernel_map.png", alt: "Kernel map", body: "content/_can-land-be-accurately-assessed.md" })
