!= partial("../_document", { title: "Is Land a Big Deal?", description: "Land might have been a big deal in 1879, but does it matter today?", img: "/content/usa_land_value_4.png", alt: "Total land value of the USA", body: "content/_is-land-a-big-deal.md" })
