!= partial("../_document", { title: "Lars A. Doucet", description: "Lars Andreas Doucet is the co-founder of the Center for Land Economics, a writer for Progress & Poverty Substack, and a former professional game developer.", img: "/assets/logo.png", alt: "Game of Rent logo", body: "content/_lars-a-doucet.md" })
