!= partial("../_document", { title: "Lars A. Doucet", description: "Lars Andreas Doucet is a professional game developer, consultant, blogger, and Director of Outreach for Common Ground USA.", img: "/assets/logo.png", alt: "Game of Rent logo", body: "content/_lars-a-doucet.md" })
